Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim, @aaronbuchwald, @DracoLi, @rrazvan1

re-order functions
  vms/evm/uptimetracker/validator.go
Owners: @StephenButtolph

Add public network support to tmpnet
  tests/fixture/tmpnet/network_config.go
  tests/fixture/tmpnet/node.go
Owners: @joshua-kim, @maru-ava

fix: time remaining should use better estimates (#4196)
  snow/engine/snowman/bootstrap/bootstrapper.go
  snow/engine/snowman/bootstrap/storage.go
  utils/timer/eta.go
  utils/timer/eta_test.go
Owners: @StephenButtolph

[tmpnet] Add optional stack traces to errors originating from tmpnet (#4262)
  tests/fixture/stacktrace/stacktrace.go
  tests/fixture/tmpnet/README.md
  tests/fixture/tmpnet/check_monitoring.go
  tests/fixture/tmpnet/flags/kube_runtime.go
  tests/fixture/tmpnet/flags/process_runtime.go
  tests/fixture/tmpnet/flags/runtime.go
  tests/fixture/tmpnet/flags/start_network.go
  tests/fixture/tmpnet/flagsmap.go
  tests/fixture/tmpnet/genesis.go
  tests/fixture/tmpnet/kube.go
  tests/fixture/tmpnet/kube_runtime.go
  tests/fixture/tmpnet/monitor_kube.go
  tests/fixture/tmpnet/monitor_processes.go
  tests/fixture/tmpnet/network.go
  tests/fixture/tmpnet/network_config.go
  tests/fixture/tmpnet/node.go
  tests/fixture/tmpnet/node_config.go
  tests/fixture/tmpnet/process_runtime.go
  tests/fixture/tmpnet/start_kind_cluster.go
  tests/fixture/tmpnet/subnet.go
  tests/fixture/tmpnet/tmpnetctl/main.go
  tests/fixture/tmpnet/utils.go
Owners: @joshua-kim, @maru-ava

[tmpnet] Use Api Node Instead of URI in CreateSubnets (#4263)
  tests/fixture/tmpnet/network.go
Owners: @joshua-kim, @maru-ava

[tmpnet] Upgrade prometheus agent version to avoid use of bitnami images (#4269)
  Taskfile.yml
  scripts/start_kind_cluster.sh
  tests/fixture/tmpnet/yaml/prometheus-agent.yaml
Owners: @joshua-kim, @maru-ava

address PR comment
  tests/fixture/tmpnet/node.go
Owners: @joshua-kim, @maru-ava

lint
  vms/evm/uptimetracker/validator.go
  vms/evm/uptimetracker/validator_test.go
Owners: @StephenButtolph

add metrics
  vms/evm/uptimetracker/metrics.go
Owners: @StephenButtolph

Add public network support to tmpnet (#4267)
  tests/fixture/tmpnet/network_config.go
  tests/fixture/tmpnet/node.go
Owners: @joshua-kim, @maru-ava

add Benchmark (go) benchmark result for 87cda9a8b0f194b70b7481e4fe258b8c78e404fa
  dev/bench/data.js
Owners: @StephenButtolph

add Benchmark (go) benchmark result for 87cda9a8b0f194b70b7481e4fe258b8c78e404fa
  dev/bench/data.js
Owners: @StephenButtolph

continuous staking implementation
  vms/components/avax/utxo_fetching.go
  vms/components/avax/utxo_fetching_test.go
  vms/platformvm/metrics/tx_metrics.go
  vms/platformvm/state/diff.go
  vms/platformvm/state/diff_test.go
  vms/platformvm/state/metadata_validator.go
  vms/platformvm/state/mock_chain.go
  vms/platformvm/state/mock_diff.go
  vms/platformvm/state/mock_state.go
  vms/platformvm/state/staker.go
  vms/platformvm/state/staker_status.go
  vms/platformvm/state/staker_test.go
  vms/platformvm/state/stakers.go
  vms/platformvm/state/state.go
  vms/platformvm/state/state_test.go
  vms/platformvm/txs/add_continuous_validator_tx.go
  vms/platformvm/txs/add_continuous_validator_tx_test.go
  vms/platformvm/txs/codec.go
  vms/platformvm/txs/executor/atomic_tx_executor.go
  vms/platformvm/txs/executor/proposal_tx_executor.go
  vms/platformvm/txs/executor/reward_validator_test.go
  vms/platformvm/txs/executor/staker_tx_verification.go
  vms/platformvm/txs/executor/staker_tx_verification_test.go
  vms/platformvm/txs/executor/standard_tx_executor.go
  vms/platformvm/txs/executor/standard_tx_executor_test.go
  vms/platformvm/txs/executor/warp_verifier.go
  vms/platformvm/txs/fee/complexity.go
  vms/platformvm/txs/staker_tx.go
  vms/platformvm/txs/stop_continuous_validator_tx.go
  vms/platformvm/txs/tx.go
  vms/platformvm/txs/txheap/by_end_time.go
  vms/platformvm/txs/visitor.go
  wallet/chain/p/builder/builder.go
  wallet/chain/p/builder/with_options.go
  wallet/chain/p/signer/visitor.go
  wallet/chain/p/wallet/backend_visitor.go
  wallet/chain/p/wallet/wallet.go
  wallet/chain/p/wallet/with_options.go
Owners: @StephenButtolph

Remove proof details from x/sync (#4247)
  x/merkledb/db.go
  x/merkledb/db_test.go
  x/merkledb/history_test.go
  x/merkledb/proof.go
  x/merkledb/proof_test.go
  x/sync/manager.go
  x/sync/sync_test.go
Owners: @joshua-kim, @rrazvan1

parse block in client implementations
  vms/example/xsvm/api/client.go
Owners: @StephenButtolph

move merkledb tests to separate package
  x/sync/manager.go
  x/sync/manager_test.go
  x/sync/merkledb_test/client_test.go
  x/sync/merkledb_test/network_server_test.go
  x/sync/merkledb_test/sync_test.go
  x/sync/network_server.go
Owners: @joshua-kim, @rrazvan1

feat: allow other databases to use x/sync
  x/sync/db.go
  x/sync/manager.go
  x/sync/merkledb_test/sync_test.go
  x/sync/network_server.go
Owners: @joshua-kim, @rrazvan1

remove merkledb import
  x/merkledb/db.go
  x/merkledb/history.go
  x/merkledb/history_test.go
  x/merkledb/proof.go
  x/merkledb/proof_test.go
  x/sync/db.go
  x/sync/merkledb_test/client_test.go
  x/sync/network_server.go
Owners: @joshua-kim, @rrazvan1

Fix test aggregation goroutine leak (#1188)
  tests/warp/aggregator/aggregator.go
Owners: @joshua-kim, @maru-ava

Fix test aggregation goroutine leak (#1188)
  graft/coreth/tests/warp/aggregator/aggregator.go
Owners: @StephenButtolph

WIP: Framework for firewood testing
  x/sync/merkledb_test/sync_test.go
Owners: @joshua-kim, @rrazvan1

Oops
  x/sync/firewood/db.go
Owners: @joshua-kim, @rrazvan1

Delete Simplex Consensus parameters from config.md
  config/config.md
Owners: @meaghanfitzgerald, @StephenButtolph

refactor: move header time verification (#1218)
  consensus/dummy/consensus.go
  ethclient/simulated/backend.go
  plugin/evm/customheader/time.go
  plugin/evm/customheader/time_test.go
  plugin/evm/vm.go
  plugin/evm/wrapped_block.go
Owners: @StephenButtolph

refactor: move header time verification (#1218)
  graft/coreth/consensus/dummy/consensus.go
  graft/coreth/ethclient/simulated/backend.go
  graft/coreth/plugin/evm/customheader/time.go
  graft/coreth/plugin/evm/customheader/time_test.go
  graft/coreth/plugin/evm/vm.go
  graft/coreth/plugin/evm/wrapped_block.go
Owners: @StephenButtolph

Don't unmarshal Stateless Block in XSVM (#4279)
  vms/example/xsvm/api/client.go
  vms/example/xsvm/api/server.go
Owners: @StephenButtolph

fix: resolve build failures by pinning opentelemetry to 0.30 (#1281)
  benchmark/Cargo.toml
Owners: @StephenButtolph

feat(range-proofs): KeyValuePairIter (1/2) (#1282)
  firewood/src/range_proof.rs
Owners: @StephenButtolph

feat(proofs)!: add v0 serialization for RangeProofs (#1271)
  Cargo.toml
  clippy.toml
  ffi/firewood.h
  ffi/memory.go
  ffi/proofs.go
  ffi/proofs_test.go
  ffi/src/proofs/range.rs
  ffi/src/value.rs
  ffi/src/value/results.rs
  firewood/Cargo.toml
  firewood/src/lib.rs
  firewood/src/merkle.rs
  firewood/src/merkle/tests/ethhash.rs
  firewood/src/merkle/tests/mod.rs
  firewood/src/merkle/tests/proof.rs
  firewood/src/proof.rs
  firewood/src/proofs.rs
  firewood/src/proofs/bitmap.rs
  firewood/src/proofs/de.rs
  firewood/src/proofs/header.rs
  firewood/src/proofs/proof_type.rs
  firewood/src/proofs/reader.rs
  firewood/src/proofs/ser.rs
  firewood/src/proofs/tests.rs
  firewood/src/range_proof.rs
  storage/Cargo.toml
  storage/src/hashednode.rs
  storage/src/hashers/ethhash.rs
  storage/src/hashers/merkledb.rs
Owners: @StephenButtolph

fix(load): only modify non-reserved slots
  tests/load/contracts/LoadSimulator.bindings.go
  tests/load/contracts/LoadSimulator.sol
Owners: @joshua-kim, @maru-ava

fix(range-proofs): serialize range proof key consistently (#1278)
  firewood/src/merkle.rs
  storage/src/node/path.rs
Owners: @StephenButtolph

fix(range-proofs): fix verify of exclusion proofs (#1279)
  firewood/src/merkle/tests/range.rs
  firewood/src/proof.rs
Owners: @StephenButtolph

add nil checks to inbound messages
  chains/manager.go
  chains/manager_test.go
  simplex/block.go
  simplex/engine.go
  simplex/engine_test.go
  simplex/inbound.go
Owners: @StephenButtolph

lint
  chains/manager_test.go
  simplex/block.go
Owners: @StephenButtolph

chore: point go.mod to coreth changes
  go.mod
  go.sum
Owners: @StephenButtolph

chore: typo fixes (#4276)
  node/node.go
  vms/platformvm/service.md
  vms/rpcchainvm/grpcutils/server.go
Owners: @StephenButtolph, @meaghanfitzgerald

Update config.md (#4278)
  vms/avm/config.md
Owners: @meaghanfitzgerald, @StephenButtolph

feat: wrap proofs
  go.mod
  x/sync/firewood/db.go
  x/sync/firewood/db_test.go
  x/sync/firewood/proof.go
  x/sync/firewood/sync_test.go
  x/sync/merkledb_test/sync_test.go
Owners: @StephenButtolph, @joshua-kim, @rrazvan1

update e2e tests
  simplex/engine.go
  snow/networking/handler/handler.go
  tests/e2e/e2e_test.go
  tests/e2e/s/chain.go
  tests/fixture/tmpnet/network.go
Owners: @StephenButtolph, @joshua-kim, @maru-ava

cleanup buildblock flow, logging tweaks
  simplex/block_builder.go
  simplex/config.go
  simplex/storage.go
Owners: @StephenButtolph

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.dockerignore @maru-ava
/.envrc @joshua-kim @maru-ava
/.github/ @joshua-kim @maru-ava
/.github/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/.github/CODEOWNERS @StephenButtolph
/.github/actions/c-chain-reexecution-benchmark/ @aaronbuchwald
/.github/workflows/c-chain-reexecution-benchmark* @aaronbuchwald
/.gitignore @joshua-kim @maru-ava @StephenButtolph
/.golangci.yml @joshua-kim @maru-ava @StephenButtolph
/Dockerfile @joshua-kim @maru-ava
/Taskfile.yml @joshua-kim @maru-ava
/flake.lock @joshua-kim @maru-ava
/flake.nix @joshua-kim @maru-ava
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @joshua-kim @maru-ava
/scripts/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/scripts/benchmark_cchain_range.sh @aaronbuchwald
/tests/ @joshua-kim @maru-ava
/tests/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/tests/reexecute/ @aaronbuchwald
/x/blockdb @DracoLi
/x/merkledb @joshua-kim @rrazvan1
/x/sync @joshua-kim @rrazvan1
