Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim, @aaronbuchwald, @DracoLi, @rrazvan1

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.dockerignore @maru-ava
/.envrc @joshua-kim @maru-ava
/.github/ @joshua-kim @maru-ava
/.github/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/.github/CODEOWNERS @StephenButtolph
/.github/actions/c-chain-reexecution-benchmark/ @aaronbuchwald
/.github/workflows/c-chain-reexecution-benchmark* @aaronbuchwald
/.gitignore @joshua-kim @maru-ava @StephenButtolph
/.golangci.yml @joshua-kim @maru-ava @StephenButtolph
/Dockerfile @joshua-kim @maru-ava
/Taskfile.yml @joshua-kim @maru-ava
/flake.lock @joshua-kim @maru-ava
/flake.nix @joshua-kim @maru-ava
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @joshua-kim @maru-ava
/scripts/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/scripts/benchmark_cchain_range.sh @aaronbuchwald
/tests/ @joshua-kim @maru-ava
/tests/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/tests/reexecute/ @aaronbuchwald
/x/blockdb @DracoLi
/x/merkledb @joshua-kim @rrazvan1
/x/sync @joshua-kim @rrazvan1

lint
  simplex/block_builder.go
Owners: @StephenButtolph

dont double backoff
  simplex/block_builder.go
Owners: @StephenButtolph

lint
  simplex/engine.go
  tests/e2e/e2e_test.go
  tests/e2e/s/chain.go
  tests/fixture/tmpnet/network.go
Owners: @StephenButtolph, @joshua-kim, @maru-ava

docs: README implies commit == persist (#1283)
  Cargo.toml
  ffi/src/logging.rs
  firewood/src/lib.rs
  fwdctl/src/check.rs
  fwdctl/src/create.rs
Owners: @StephenButtolph

chore: fix some function names
  simplex/qc.go
  simplex/util_test.go
Owners: @StephenButtolph

add Benchmark (go) benchmark result for b433b9695da8d6b2288900a7f98269f88633d223
  dev/bench/data.js
Owners: @StephenButtolph

add Benchmark (go) benchmark result for b433b9695da8d6b2288900a7f98269f88633d223
  dev/bench/data.js
Owners: @StephenButtolph

add Benchmark (go) benchmark result for b433b9695da8d6b2288900a7f98269f88633d223
  dev/bench/data.js
Owners: @StephenButtolph

test(load): add firewood workflow (#4268)
  .github/workflows/firewood-load-test.yml
Owners: @joshua-kim, @maru-ava

Fixes
  tests/e2e/c/api.go
  vms/proposervm/service.go
Owners: @joshua-kim, @maru-ava, @StephenButtolph

refactor(plugin/evm): move syncer client/registry to plugin/evm/vmsync (#1177)
  graft/coreth/plugin/evm/extension/config.go
  graft/coreth/plugin/evm/vm.go
  graft/coreth/plugin/evm/vm_extensible.go
  graft/coreth/plugin/evm/vmsync/client.go
  graft/coreth/plugin/evm/vmsync/doubles_test.go
  graft/coreth/plugin/evm/vmsync/registry.go
  graft/coreth/plugin/evm/vmsync/registry_test.go
  graft/coreth/plugin/evm/vmsync/server.go
  graft/coreth/plugin/evm/vmtest/test_syncervm.go
Owners: @StephenButtolph

refactor(plugin/evm): move syncer client/registry to plugin/evm/vmsync (#1177)
  plugin/evm/extension/config.go
  plugin/evm/vm.go
  plugin/evm/vm_extensible.go
  plugin/evm/vmsync/client.go
  plugin/evm/vmsync/doubles_test.go
  plugin/evm/vmsync/registry.go
  plugin/evm/vmsync/registry_test.go
  plugin/evm/vmsync/server.go
  plugin/evm/vmtest/test_syncervm.go
Owners: @StephenButtolph

chore: fix some function names (#4288)
  simplex/qc.go
  simplex/util_test.go
Owners: @StephenButtolph

Remove libevm `cmd/*` packages. (#1224)
  graft/coreth/cmd/abigen/main.go
  graft/coreth/cmd/abigen/namefilter.go
  graft/coreth/cmd/abigen/namefilter_test.go
  graft/coreth/cmd/utils/cmd.go
  graft/coreth/cmd/utils/flags.go
Owners: @StephenButtolph

Remove libevm `cmd/*` packages. (#1224)
  cmd/abigen/main.go
  cmd/abigen/namefilter.go
  cmd/abigen/namefilter_test.go
  cmd/utils/cmd.go
  cmd/utils/flags.go
Owners: @StephenButtolph

Remove libevm `signer` package (#1225)
  signer/core/apitypes/types.go
Owners: @StephenButtolph

Remove libevm `signer` package (#1225)
  graft/coreth/signer/core/apitypes/types.go
Owners: @StephenButtolph

fix: err on change proof
  x/sync/network_server.go
Owners: @joshua-kim, @rrazvan1

refactor(sync)!: simplify generics, add optional proof factories, dedupe proof handling
  x/sync/db.go
  x/sync/manager.go
  x/sync/merkledb_test/sync_test.go
  x/sync/network_server.go
Owners: @joshua-kim, @rrazvan1

fix: remove unnecessary generics, tests
  x/sync/db.go
  x/sync/manager.go
Owners: @joshua-kim, @rrazvan1

add acp-226 math package
  vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226_test.go
Owners: @StephenButtolph

add change proofs
  x/sync/firewood/db.go
  x/sync/firewood/proof.go
Owners: @joshua-kim, @rrazvan1

Use generics in x/sync (#4249)
  x/merkledb/db.go
  x/merkledb/history.go
  x/merkledb/history_test.go
  x/merkledb/proof.go
  x/merkledb/proof_test.go
  x/sync/db.go
  x/sync/manager.go
  x/sync/merkledb_test/client_test.go
  x/sync/merkledb_test/sync_test.go
  x/sync/network_server.go
Owners: @joshua-kim, @rrazvan1

rename state
  vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226_test.go
Owners: @StephenButtolph

parameterize tests
  go.mod
  go.sum
  x/sync/firewood/db.go
  x/sync/firewood/sync_test.go
Owners: @StephenButtolph, @joshua-kim, @rrazvan1

multiple proofs
  x/sync/firewood/db.go
  x/sync/firewood/db_test.go
  x/sync/firewood/sync_test.go
Owners: @joshua-kim, @rrazvan1

josh reviews part5
  vms/evm/uptimetracker/state.go
  vms/evm/uptimetracker/state_test.go
  vms/evm/uptimetracker/uptime_tracker.go
  vms/evm/uptimetracker/uptime_tracker_test.go
  vms/evm/uptimetracker/validator.go
  vms/evm/uptimetracker/validator_data.go
  vms/evm/uptimetracker/validator_data_test.go
  vms/evm/uptimetracker/validator_test.go
Owners: @StephenButtolph

reduce stub funcs
  vms/evm/uptimetracker/uptime_tracker_test.go
Owners: @StephenButtolph

lint
  vms/evm/uptimetracker/uptime_tracker_test.go
Owners: @StephenButtolph

move everything to merkledb
  x/merkledb/client_test.go
  x/merkledb/network_server_test.go
  x/merkledb/sync_test.go
  x/sync/manager.go
  x/sync/manager_test.go
Owners: @joshua-kim, @rrazvan1

remove metrics file
  vms/evm/uptimetracker/metrics.go
  vms/evm/uptimetracker/uptime_tracker.go
Owners: @StephenButtolph

Apply suggestions from code review
  vms/evm/uptimetracker/uptime_tracker.go
Owners: @StephenButtolph

fix: imports
  x/merkledb/client_test.go
  x/merkledb/network_server_test.go
  x/merkledb/sync_test.go
Owners: @joshua-kim, @rrazvan1

copilot manual suggestion
  vms/evm/uptimetracker/uptime_tracker.go
Owners: @StephenButtolph

Update vms/evm/uptimetracker/uptime_tracker.go
  vms/evm/uptimetracker/uptime_tracker.go
Owners: @StephenButtolph

consistent clock for tests
  vms/evm/uptimetracker/uptime_tracker_test.go
Owners: @StephenButtolph

test(reexecute/c): disable metrics collection by default (#4272)
  .github/actions/c-chain-reexecution-benchmark/action.yml
  Taskfile.yml
  tests/reexecute/c/README.md
  tests/reexecute/c/vm_reexecute_test.go
Owners: @aaronbuchwald, @joshua-kim, @maru-ava

Remove duplicate cancun checks (#1223)
  graft/coreth/consensus/dummy/consensus.go
  graft/coreth/plugin/evm/wrapped_block.go
Owners: @StephenButtolph

Remove duplicate cancun checks (#1223)
  consensus/dummy/consensus.go
  plugin/evm/wrapped_block.go
Owners: @StephenButtolph

review
  vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226_test.go
Owners: @StephenButtolph
