Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @danlaine, @ceyonur, @joshua-kim, @gyuho, @dboehm-avalabs, @abi87, @dhrubabasu, @marun, @darioush

nit
  vms/platformvm/block/executor/manager.go
Owners: @abi87, @danlaine, @dhrubabasu, @StephenButtolph

nit
  vms/platformvm/block/executor/verifier.go
Owners: @abi87, @danlaine, @dhrubabasu, @StephenButtolph

Clippy Warning fix with latest rust upgrade (#488)
  firewood/src/storage/mod.rs
  growth-ring/tests/common/mod.rs
Owners: @StephenButtolph

Use `SnowVirtuousCommitThresholdKey`
  config/config.go
  config/flags.go
Owners: @StephenButtolph

remove BetaVirtuous
  config/config.go
  config/flags.go
  config/keys.go
  snow/consensus/snowball/consensus_performance_test.go
  snow/consensus/snowball/flat.go
  snow/consensus/snowball/flat_test.go
  snow/consensus/snowball/parameters.go
  snow/consensus/snowball/parameters_test.go
  snow/consensus/snowball/tree.go
  snow/consensus/snowball/tree_test.go
  snow/consensus/snowman/consensus_test.go
  snow/engine/snowman/config_test.go
  snow/engine/snowman/transitive_test.go
  subnets/config_test.go
  vms/platformvm/vm_test.go
Owners: @StephenButtolph, @gyuho, @danlaine, @abi87, @dhrubabasu

Save metrics snapshot to disk before node shutdown
  tests/fixture/tmpnet/network.go
  tests/fixture/tmpnet/node.go
  tests/fixture/tmpnet/node_config.go
Owners: @abi87, @gyuho, @marun

Persist the encoded value of a Node if its length is less than the hash (#487)
  firewood/src/merkle/node.rs
Owners: @StephenButtolph

nits
  config/config.go
  config/flags.go
  snow/consensus/snowball/consensus_performance_test.go
  snow/consensus/snowball/flat.go
  snow/consensus/snowball/flat_test.go
  snow/consensus/snowball/parameters.go
  snow/consensus/snowball/parameters_test.go
  snow/consensus/snowball/tree.go
  snow/consensus/snowball/tree_test.go
  snow/consensus/snowman/consensus_test.go
  snow/engine/snowman/config_test.go
  snow/engine/snowman/transitive_test.go
  subnets/config_test.go
  vms/platformvm/vm_test.go
Owners: @StephenButtolph, @gyuho, @danlaine, @abi87, @dhrubabasu

nit
  snow/consensus/snowball/parameters.go
Owners: @gyuho, @StephenButtolph

nit
  config/flags.go
Owners: @StephenButtolph

nit
  snow/consensus/snowball/parameters.go
Owners: @gyuho, @StephenButtolph

fixup: Convert the timestamp to a filesystem-compatible value
  tests/fixture/tmpnet/node_config.go
Owners: @abi87, @gyuho, @marun

fixup: Lint
  tests/fixture/tmpnet/node_config.go
Owners: @abi87, @gyuho, @marun

fixup: Skip metrics collection if no uri is present
  tests/fixture/tmpnet/node.go
Owners: @abi87, @gyuho, @marun

added UTs
  vms/platformvm/state/state_helpers_test.go
Owners: @abi87, @danlaine, @dhrubabasu, @StephenButtolph

refactored fees
  vms/platformvm/txs/executor/fee_calculator.go
  vms/platformvm/txs/executor/fee_calculator_test.go
  vms/platformvm/txs/executor/staker_tx_verification.go
  vms/platformvm/txs/executor/standard_tx_executor.go
Owners: @abi87, @danlaine, @dhrubabasu, @StephenButtolph

fix negative bigint topics (#1045)
  accounts/abi/topics.go
  accounts/abi/topics_test.go
Owners: @StephenButtolph

fix negative bigint topics (#455)
  graft/coreth/accounts/abi/topics.go
  graft/coreth/accounts/abi/topics_test.go
Owners: @StephenButtolph

fix negative bigint topics (#455)
  accounts/abi/topics.go
  accounts/abi/topics_test.go
Owners: @StephenButtolph

`tmpnet`: Save metrics snapshot to disk before node shutdown (#2601)
  tests/fixture/tmpnet/network.go
  tests/fixture/tmpnet/node.go
  tests/fixture/tmpnet/node_config.go
Owners: @abi87, @gyuho, @marun

chore: Fix typo s/useage/usage
  RELEASES.md
Owners: @StephenButtolph

repackaging
  vms/avm/block/executor/block.go
  vms/avm/block/executor/manager.go
  vms/avm/config/config.go
  vms/avm/txs/executor/fee_calculator.go
  vms/avm/txs/executor/fee_calculator_test.go
  vms/avm/txs/executor/syntactic_verifier.go
  vms/avm/vm.go
  vms/components/fees/manager.go
  vms/platformvm/block/builder/builder.go
  vms/platformvm/block/builder/helpers_test.go
  vms/platformvm/block/executor/helpers_test.go
  vms/platformvm/block/executor/verifier.go
  vms/platformvm/config/config.go
  vms/platformvm/config/fee_config.go
  vms/platformvm/txs/executor/atomic_tx_executor.go
  vms/platformvm/txs/executor/create_chain_test.go
  vms/platformvm/txs/executor/create_subnet_test.go
  vms/platformvm/txs/executor/fee_calculator.go
  vms/platformvm/txs/executor/fee_calculator_test.go
  vms/platformvm/txs/executor/helpers_test.go
  vms/platformvm/txs/executor/proposal_tx_executor.go
  vms/platformvm/txs/executor/staker_tx_verification.go
  vms/platformvm/txs/executor/staker_tx_verification_test.go
  vms/platformvm/txs/executor/standard_tx_executor.go
  vms/platformvm/txs/executor/standard_tx_executor_test.go
  vms/platformvm/txs/executor/tx_mempool_verifier.go
Owners: @StephenButtolph, @abi87, @danlaine, @dhrubabasu

Add ChainConfig to ethclient (#1040)
  ethclient/ethclient.go
Owners: @StephenButtolph

p-chain fee calculator repackaging
  vms/platformvm/txs/executor/staker_tx_verification.go
  vms/platformvm/txs/executor/standard_tx_executor.go
  vms/platformvm/txs/fees/calculator.go
  vms/platformvm/txs/fees/calculator_test.go
Owners: @abi87, @danlaine, @dhrubabasu, @StephenButtolph

EXTENDED CODEC SIZE TO PROCESS PARTIALLY FILLED TXS
  codec/reflectcodec/type_codec.go
  vms/platformvm/txs/fees/calculator_test.go
Owners: @danlaine, @abi87, @dhrubabasu, @StephenButtolph

nit
  vms/platformvm/txs/builder/builder.go
Owners: @abi87, @danlaine, @dhrubabasu, @StephenButtolph

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

* @StephenButtolph
/app/ @danlaine
/codec/ @danlaine
/database/corruptabledb/ @ceyonur
/ids/ @danlaine @joshua-kim
/indexer/ @danlaine
/message/ @gyuho
/network/ @danlaine @joshua-kim @StephenButtolph
/network/throttling/ @danlaine @dboehm-avalabs @StephenButtolph
/proto/ @gyuho
/snow/ @danlaine @StephenButtolph
/snow/consensus/ @gyuho @StephenButtolph
/snow/engine/snowman/syncer/ @abi87
/snow/uptime/ @ceyonur
/utils/logging/ @ceyonur
/vms/platformvm/ @abi87 @danlaine @dhrubabasu @StephenButtolph
/vms/proposervm/ @abi87 @StephenButtolph
/vms/registry/ @joshua-kim
/tests/ @abi87 @gyuho @marun
/x/ @danlaine @darioush @dboehm-avalabs
