Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @marun, @joshua-kim

fix LRU sized cache: consistent size at element removal
  cache/lru_sized_cache.go
  cache/lru_sized_cache_test.go
Owners: @StephenButtolph

cleanup comment
  cache/lru_sized_cache.go
Owners: @StephenButtolph

Prevent sized LRU misuse by calculating the size only once (#3634)
  cache/lru_sized_cache.go
  cache/lru_sized_cache_test.go
Owners: @StephenButtolph

bump avago 902377d447ba (#732)
  go.mod
  go.sum
  scripts/versions.sh
Owners: @StephenButtolph, @marun

bump avago 902377d447ba (#732)
  graft/coreth/go.mod
  graft/coreth/go.sum
  graft/coreth/scripts/versions.sh
Owners: @StephenButtolph

format json
  config/config.md
Owners: @meaghanfitzgerald, @StephenButtolph

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.github/ @marun
/.github/*.md @marun @meaghanfitzgerald
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @marun
/scripts/*.md @marun @meaghanfitzgerald
/tests/ @marun
/tests/*.md @marun @meaghanfitzgerald
