Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim

Timely halt Avalanche engine (#3792)
  chains/manager.go
  snow/engine/avalanche/bootstrap/bootstrapper.go
  snow/engine/avalanche/bootstrap/bootstrapper_test.go
  snow/engine/avalanche/bootstrap/config.go
  snow/engine/snowman/bootstrap/bootstrapper.go
  snow/engine/snowman/bootstrap/bootstrapper_test.go
  snow/engine/snowman/bootstrap/config.go
  vms/platformvm/vm_test.go
Owners: @StephenButtolph

nit
  vms/avm/state.go
  vms/avm/vm_test.go
Owners: @StephenButtolph

Use Go casing conventions in json config
  config/node/config.go
Owners: @StephenButtolph

Fix default signing config behaviour
  config/config.go
Owners: @StephenButtolph

Cleanup type-check in config-test
  config/config_test.go
Owners: @StephenButtolph

Simply variable name for url
  utils/crypto/bls/signer/rpcsigner/client.go
Owners: @StephenButtolph

Only use public config api in test
  config/config_test.go
Owners: @StephenButtolph

Add test for default config signer with multiple inits
  config/config_test.go
Owners: @StephenButtolph

[ci] Move monitoring check from github action to code
  .github/actions/run-monitored-tmpnet-cmd/action.yml
  tests/fixture/e2e/env.go
  tests/fixture/e2e/flags.go
  tests/fixture/tmpnet/check_monitoring.go
  tests/fixture/tmpnet/network.go
  tests/upgrade/upgrade_test.go
Owners: @maru-ava

fixup: Use the network UUID or GH_* as selectors, but not both
  tests/fixture/tmpnet/check_monitoring.go
Owners: @maru-ava

[tmpnet] Deploy kind cluster with golang
  bin/tmpnetctl
  scripts/tests.e2e.bootstrap_monitor.sh
  tests/fixture/bootstrapmonitor/common.go
  tests/fixture/bootstrapmonitor/e2e/e2e_test.go
  tests/fixture/tmpnet/README.md
  tests/fixture/tmpnet/cmd/main.go
  tests/fixture/tmpnet/kube.go
  tests/fixture/tmpnet/start_kind_cluster.go
Owners: @StephenButtolph, @maru-ava

update: readme changes for 9000 upgrade
  precompile/contracts/warp/README.md
Owners: @meaghanfitzgerald, @StephenButtolph

Add F-Upgrade upgrades.Config support
  eth/tracers/api.go
  params/config.go
  params/network_upgrades.go
  plugin/evm/vm_test.go
Owners: @StephenButtolph

Cleanup dynamic fee windower logic
  consensus/dummy/dynamic_fee_window.go
  consensus/dummy/dynamic_fee_window_test.go
  consensus/dummy/dynamic_fees.go
  consensus/dummy/dynamic_fees_test.go
Owners: @StephenButtolph

Refactor `header.Extra` verification
  consensus/dummy/consensus.go
  consensus/dummy/dynamic_fee_window.go
  consensus/dummy/dynamic_fee_window_test.go
  plugin/evm/block_verification.go
  plugin/evm/header/extra.go
  plugin/evm/header/extra_test.go
Owners: @StephenButtolph

Remove `header.Extra` from `EstimateNextBaseFee`
  consensus/dummy/dynamic_fees.go
  core/txpool/blobpool/blobpool.go
  core/txpool/legacypool/legacypool.go
  eth/gasprice/gasprice.go
  plugin/evm/header/extra_test.go
  plugin/evm/vm_test.go
Owners: @StephenButtolph

Refactor `BlockGasCost` calculations
  commontype/fee_config.go
  consensus/dummy/consensus.go
  consensus/dummy/consensus_test.go
  consensus/dummy/dynamic_fees.go
  consensus/dummy/dynamic_fees_test.go
  plugin/evm/blockgascost/cost.go
  plugin/evm/blockgascost/cost_test.go
  plugin/evm/header/block_gas_cost.go
  plugin/evm/header/block_gas_cost_test.go
  utils/numbers.go
  utils/numbers_test.go
Owners: @StephenButtolph

feat(internal/ethapi)!: reject `eth_getProof` queries for historical blocks
  RELEASES.md
  core/state_manager.go
  core/state_manager_test.go
  eth/api_backend.go
  eth/backend.go
  eth/ethconfig/config.go
  internal/ethapi/api.go
  internal/ethapi/api_extra.go
  internal/ethapi/api_extra_test.go
  internal/ethapi/api_test.go
  internal/ethapi/backend.go
  internal/ethapi/mocks_generate_test.go
  internal/ethapi/mocks_test.go
  plugin/evm/config/config.go
  plugin/evm/vm.go
Owners: @meaghanfitzgerald, @StephenButtolph

fix(internal/ethapi): fix nil block in debug apis
  internal/ethapi/api.go
  internal/ethapi/api_extra.go
  internal/ethapi/api_extra_test.go
Owners: @StephenButtolph

Cleanup header gas verification
  consensus/dummy/consensus.go
  consensus/dummy/dynamic_fees.go
  utils/numbers.go
  utils/numbers_test.go
Owners: @StephenButtolph

Ensure CalcBaseFee is only called with a sufficient timestamp
  consensus/dummy/consensus_test.go
  consensus/dummy/dynamic_fees.go
  consensus/dummy/dynamic_fees_test.go
Owners: @StephenButtolph

Split `CalcExtraData` out of `CalcBaseFee`
  cmd/evm/internal/t8ntool/transition.go
  consensus/dummy/consensus.go
  consensus/dummy/dynamic_fees.go
  consensus/dummy/dynamic_fees_test.go
  core/blockchain_reader.go
  core/chain_makers.go
  core/state_processor_test.go
  core/txpool/blobpool/blobpool_test.go
  core/txpool/legacypool/legacypool.go
  eth/gasprice/gasprice.go
  miner/worker.go
Owners: @StephenButtolph

Support all upgrades in CalcBaseFee and CalcExtraPrefix
  cmd/evm/internal/t8ntool/transition.go
  consensus/dummy/dynamic_fees.go
  consensus/dummy/dynamic_fees_test.go
  core/chain_makers.go
  core/state_processor_test.go
  core/txpool/blobpool/blobpool_test.go
  miner/worker.go
Owners: @StephenButtolph

Improve `plugin/evm/header` tests
  consensus/dummy/consensus.go
  core/chain_makers.go
  core/state_processor_test.go
  eth/api_backend.go
  eth/gasprice/gasprice_test.go
  miner/worker.go
  plugin/evm/gossip_test.go
  plugin/evm/header/base_fee.go
  plugin/evm/header/base_fee_test.go
  plugin/evm/header/block_gas_cost.go
  plugin/evm/header/block_gas_cost_test.go
  plugin/evm/header/dynamic_fee_windower.go
  plugin/evm/header/extra.go
  plugin/evm/header/extra_test.go
  plugin/evm/vm_test.go
  plugin/evm/vm_warp_test.go
  utils/denomination.go
Owners: @StephenButtolph

Move `header.ExtraPrefix` calculation
  consensus/dummy/consensus.go
  core/chain_makers.go
  core/state_processor_test.go
  miner/worker.go
  plugin/evm/header/block_gas_cost.go
Owners: @StephenButtolph

Move `GasLimit` handling into the `header` package
  consensus/dummy/consensus.go
  core/chain_makers.go
  miner/worker.go
  plugin/evm/header/block_gas_cost_test.go
  plugin/evm/header/gas_limit.go
  plugin/evm/header/gas_limit_test.go
  plugin/evm/upgrade/legacy/params.go
Owners: @StephenButtolph

Cleanup block fee tests
  consensus/dummy/consensus.go
  core/test_blockchain.go
Owners: @StephenButtolph

Round up in `header.EstimateRequiredTip`
  eth/gasprice/gasprice_test.go
  plugin/evm/header/block_gas_cost.go
  plugin/evm/header/block_gas_cost_test.go
Owners: @StephenButtolph

Filter by total gas rather than GasUsed
  core/test_blockchain.go
  eth/gasprice/fee_info_provider.go
Owners: @StephenButtolph

Move predicate header parsing
  core/evm.go
  core/vm/evm.go
  plugin/evm/block.go
  plugin/evm/header/extra.go
  plugin/evm/header/extra_test.go
  plugin/evm/vm_warp_test.go
  predicate/predicate_bytes.go
  predicate/predicate_bytes_test.go
Owners: @StephenButtolph

Add Rules to PredicateBytesFromExtra
  core/test_blockchain.go
  core/vm/evm.go
  plugin/evm/block.go
  plugin/evm/header/extra.go
  plugin/evm/header/extra_test.go
  plugin/evm/vm_warp_test.go
Owners: @StephenButtolph

Implement header.ExtraPrefix serialization in `upgrade/` packages
  cmd/evm/internal/t8ntool/transition.go
  core/txpool/blobpool/blobpool_test.go
  plugin/evm/header/base_fee_test.go
  plugin/evm/header/dynamic_fee_windower.go
  plugin/evm/header/dynamic_fee_windower_test.go
  plugin/evm/header/extra.go
  plugin/evm/header/extra_test.go
  plugin/evm/upgrade/subnetevm/window.go
  plugin/evm/upgrade/subnetevm/window_test.go
Owners: @StephenButtolph

refactor!(ffi): overhaul Go bindings (#810)
  .github/workflows/ci.yaml
  ffi/firewood.go
  ffi/firewood.h
  ffi/firewood_test.go
  ffi/go.mod
  ffi/go.sum
  ffi/kvbackend.go
  ffi/src/lib.rs
Owners: @maru-ava, @StephenButtolph

[docker] Update all images to debian12/bookworm
  Dockerfile
  tests/antithesis/Dockerfile.builder-instrumented
  tests/antithesis/Dockerfile.builder-uninstrumented
  tests/antithesis/avalanchego/Dockerfile.node
  vms/example/xsvm/Dockerfile
Owners: @StephenButtolph, @maru-ava

partial cherry-pick: Coreth/Implement ACP-176
  consensus/dummy/consensus.go
  core/chain_makers.go
  core/state_processor_test.go
  eth/gasprice/gasprice_test.go
  miner/worker.go
  plugin/evm/header/extra.go
  plugin/evm/header/extra_test.go
  plugin/evm/header/gas_limit.go
  plugin/evm/header/gas_limit_test.go
Owners: @StephenButtolph

move ap4 block gas cost check to header
  consensus/dummy/consensus.go
  plugin/evm/header/block_gas_cost.go
  plugin/evm/header/block_gas_cost_test.go
  plugin/evm/header/gas_limit_test.go
Owners: @StephenButtolph

fix(eth/gasprice): EstimateBaseFee using Next Fee
  eth/gasprice/gasprice.go
Owners: @StephenButtolph

Name F-Upgrade Fortuna
  eth/tracers/api.go
  go.mod
  go.sum
  params/config.go
  params/network_upgrades.go
  plugin/evm/vm_test.go
Owners: @StephenButtolph

Update avalanchego version
  go.mod
  go.sum
  plugin/evm/vm_warp_test.go
  precompile/contracts/warp/predicate_test.go
  precompile/contracts/warp/signature_verification_test.go
  tests/antithesis/Dockerfile.node
  warp/aggregator/aggregator_test.go
Owners: @StephenButtolph, @maru-ava

[docker] Update all images to debian12/bookworm (#3798)
  Dockerfile
  tests/antithesis/Dockerfile.builder-instrumented
  tests/antithesis/Dockerfile.builder-uninstrumented
  tests/antithesis/avalanchego/Dockerfile.node
  vms/example/xsvm/Dockerfile
Owners: @StephenButtolph, @maru-ava

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.github/ @maru-ava
/.github/*.md @maru-ava @meaghanfitzgerald
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @maru-ava
/scripts/*.md @maru-ava @meaghanfitzgerald
/tests/ @maru-ava
/tests/*.md @maru-ava @meaghanfitzgerald
