Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim, @aaronbuchwald, @DracoLi, @rrazvan1

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.dockerignore @maru-ava
/.envrc @joshua-kim @maru-ava
/.github/ @joshua-kim @maru-ava
/.github/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/.github/CODEOWNERS @StephenButtolph
/.github/actions/c-chain-reexecution-benchmark/ @aaronbuchwald
/.github/workflows/c-chain-reexecution-benchmark* @aaronbuchwald
/.gitignore @joshua-kim @maru-ava @StephenButtolph
/.golangci.yml @joshua-kim @maru-ava @StephenButtolph
/Dockerfile @joshua-kim @maru-ava
/Taskfile.yml @joshua-kim @maru-ava
/flake.lock @joshua-kim @maru-ava
/flake.nix @joshua-kim @maru-ava
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @joshua-kim @maru-ava
/scripts/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/scripts/benchmark_cchain_range.sh @aaronbuchwald
/tests/ @joshua-kim @maru-ava
/tests/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/tests/reexecute/ @aaronbuchwald
/x/blockdb @DracoLi
/x/merkledb @joshua-kim @rrazvan1
/x/sync @joshua-kim @rrazvan1

feat: add metervm
  tests/reexecute/c/vm_reexecute_test.go
Owners: @aaronbuchwald

further cleanup
  vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226_test.go
Owners: @StephenButtolph

remove size stuff
  vms/evm/acp226/acp226.go
Owners: @StephenButtolph

add acp 176 package
  vms/evm/acp176/acp176.go
  vms/evm/acp176/acp176_test.go
Owners: @StephenButtolph

fix linter
  vms/evm/acp176/acp176.go
  vms/evm/acp176/acp176_test.go
Owners: @StephenButtolph

add Benchmark (go) benchmark result for 40413f5042cd842f0a596e53f45b5dbb35225302
  dev/bench/data.js
Owners: @StephenButtolph

add Benchmark (go) benchmark result for 40413f5042cd842f0a596e53f45b5dbb35225302
  dev/bench/data.js
Owners: @StephenButtolph

Update vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226.go
Owners: @StephenButtolph

Update vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226.go
Owners: @StephenButtolph

Update vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226.go
Owners: @StephenButtolph

Update vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226.go
Owners: @StephenButtolph

Update vms/evm/acp226/acp226.go
  vms/evm/acp226/acp226.go
Owners: @StephenButtolph

test(bootstrap): Bootstrap testing scripts (#1287)
  benchmark/bootstrap/README.md
  benchmark/bootstrap/aws-launch.sh
  benchmark/cloud-config.txt
Owners: @meaghanfitzgerald, @StephenButtolph

uplift: Migrate ACP-176 Implementation (#4291)
  vms/evm/acp176/acp176.go
  vms/evm/acp176/acp176_test.go
Owners: @StephenButtolph

Update c-chain-reexecution-benchmark-arc.yml
  .github/workflows/c-chain-reexecution-benchmark-arc.yml
Owners: @aaronbuchwald

chore: add benchmark stats for metervm
  tests/reexecute/c/metrics.go
Owners: @aaronbuchwald

chore: Various script improvements (#1288)
  benchmark/bootstrap/aws-launch.sh
Owners: @StephenButtolph

init inner vm api
  vms/proposervm/vm.go
Owners: @StephenButtolph

Handle ACP176 excess overflow during scaling
  vms/evm/acp176/acp176.go
  vms/evm/acp176/acp176_test.go
Owners: @StephenButtolph
