Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim

bump coreth to v0.14.1-libevm.rc.1
  go.mod
  go.sum
  scripts/build_test.sh
Owners: @StephenButtolph, @maru-ava

Merkle-ize X-Chain state
  database/memdb/db.go
  vms/avm/block/executor/block.go
  vms/avm/block/executor/block_test.go
  vms/avm/environment_test.go
  vms/avm/state.go
  vms/avm/state/state.go
  vms/avm/state/state_test.go
  vms/avm/state/statemock/state.go
  vms/avm/vm.go
  vms/avm/vm_test.go
  vms/components/avax/utxo_fetching_test.go
  vms/components/avax/utxo_state.go
  vms/platformvm/state/mock_state.go
  vms/platformvm/state/state.go
Owners: @StephenButtolph

nit
  vms/avm/vm.go
  vms/avm/vm_test.go
Owners: @StephenButtolph

nit
  vms/avm/vm.go
  vms/avm/vm_test.go
Owners: @StephenButtolph

nit
  vms/avm/vm_test.go
Owners: @StephenButtolph

Remove Etna activation banner
  main/main.go
  vms/platformvm/block/executor/block.go
  vms/platformvm/vm.go
Owners: @StephenButtolph

nit
  vms/avm/vm_test.go
Owners: @StephenButtolph

Remove Etna activation banner (#3789)
  main/main.go
  vms/platformvm/block/executor/block.go
  vms/platformvm/vm.go
Owners: @StephenButtolph

migrate utxos
  vms/avm/state.go
  vms/avm/vm_test.go
Owners: @StephenButtolph

nit
  vms/avm/vm_test.go
Owners: @StephenButtolph

update canoto
  go.mod
  go.sum
  snow/engine/snowman/block/block_context_vm.canoto.go
  snow/engine/snowman/block/block_context_vm.go
Owners: @StephenButtolph

update
  snow/engine/snowman/block/block_context_vm.canoto.go
Owners: @StephenButtolph

dont commit this
  vms/avm/state/state.go
Owners: @StephenButtolph

Revert "dont commit this"
  vms/avm/state/state.go
Owners: @StephenButtolph

Healthcheck for zero ingress connection count
  RELEASES.md
  config/config.go
  config/flags.go
  config/keys.go
  config/node/config.go
  network/network.go
  network/network_test.go
  network/peer/config.go
  network/peer/peer.go
  network/peer/peer_test.go
  network/peer/test_peer.go
  node/no_ingress_conn_alert.go
  node/no_ingress_conn_alert_test.go
  node/node.go
  utils/constants/networking.go
Owners: @meaghanfitzgerald, @StephenButtolph

Address code review comments
  network/network.go
  network/network_test.go
  network/peer/config.go
  network/peer/peer.go
Owners: @StephenButtolph

Address code review comments III
  RELEASES.md
  config/config.go
  config/flags.go
  config/keys.go
  network/config.go
  network/network.go
  network/network_test.go
  network/no_ingress_conn_alert.go
  network/no_ingress_conn_alert_test.go
  network/peer/config.go
  network/peer/peer_test.go
  node/no_ingress_conn_alert.go
  node/no_ingress_conn_alert_test.go
  node/node.go
  utils/constants/networking.go
Owners: @meaghanfitzgerald, @StephenButtolph

Address code review comments II
  config/flags.go
  node/no_ingress_conn_alert.go
  node/no_ingress_conn_alert_test.go
Owners: @StephenButtolph

Address code review comments IV
  config/config.go
  config/node/config.go
  network/network.go
  network/network_test.go
  network/no_ingress_conn_alert.go
  network/no_ingress_conn_alert_test.go
  network/peer/config.go
  network/peer/peer.go
Owners: @StephenButtolph

Update README.md
  README.md
Owners: @meaghanfitzgerald, @StephenButtolph

[PVM] Add missing tx builder tests for system txs (#410)
  vms/platformvm/test/expect/camino_expect.go
  vms/platformvm/txs/builder/camino_builder.go
  vms/platformvm/txs/builder/camino_builder_test.go
  vms/platformvm/txs/camino_unlock_expired_deposit_tx.go
Owners: @StephenButtolph

[PVM] Add CairoPhase to GetUpgradePhases api (#412)
  vms/platformvm/camino_service.go
Owners: @StephenButtolph

Upgrade canoto to v0.13.3 (#3790)
  go.mod
  go.sum
  snow/engine/snowman/block/block_context_vm.canoto.go
  snow/engine/snowman/block/block_context_vm.go
Owners: @StephenButtolph

Address code review comments V
  utils/constants/networking.go
Owners: @StephenButtolph

Healthcheck for zero ingress connection count (#3719)
  RELEASES.md
  config/config.go
  config/flags.go
  config/keys.go
  network/config.go
  network/network.go
  network/network_test.go
  network/no_ingress_conn_alert.go
  network/no_ingress_conn_alert_test.go
  network/peer/config.go
  network/peer/peer.go
  network/peer/peer_test.go
  network/peer/test_peer.go
  utils/constants/networking.go
Owners: @meaghanfitzgerald, @StephenButtolph

Use coreth-libevm and libevm - Use coreth libevm branch (2025-03-11, https://github.com/ava-labs/coreth/commit/79c693fbb0fdadefa4f1d9c6779f28f1c1ba7aea) - Use libevm v1.13.14-0.2.0.rc.3
  go.mod
  go.sum
  tests/e2e/c/dynamic_fees.go
  utils/crypto/secp256k1/secp256k1.go
  vms/secp256k1fx/keychain.go
  wallet/chain/c/backend.go
  wallet/chain/c/builder.go
  wallet/chain/c/builder_with_options.go
  wallet/chain/c/signer.go
  wallet/chain/c/wallet.go
  wallet/chain/c/wallet_with_options.go
  wallet/subnet/primary/api.go
  wallet/subnet/primary/common/options.go
Owners: @StephenButtolph, @maru-ava

Import from libevm instead of coreth when possible
  genesis/genesis_test.go
  tests/e2e/c/dynamic_fees.go
  tests/e2e/c/interchain_workflow.go
  tests/fixture/e2e/helpers.go
  tests/fixture/tmpnet/genesis.go
Owners: @StephenButtolph, @maru-ava

Update avago 1.12.3 rc1 (#1492)
  go.mod
  go.sum
  plugin/evm/vm_warp_test.go
  precompile/contracts/warp/predicate_test.go
  precompile/contracts/warp/signature_verification_test.go
  tests/antithesis/Dockerfile.node
  warp/aggregator/aggregator_test.go
Owners: @StephenButtolph, @maru-ava

[PVM] CairoPhase unlock active deposit with fix (#411)
  vms/platformvm/txs/executor/camino_tx_executor.go
  vms/platformvm/txs/executor/camino_tx_executor_test.go
  vms/platformvm/utxo/camino_locked.go
  vms/platformvm/utxo/camino_locked_test.go
  vms/platformvm/utxo/mock_verifier.go
Owners: @StephenButtolph

Add comments to signer-config setup
  config/config.go
Owners: @StephenButtolph

Add timeout to signer instantiation
  config/config.go
  main/main.go
Owners: @StephenButtolph

Close the connection on any error
  utils/crypto/bls/signer/rpcsigner/client.go
Owners: @StephenButtolph

Add default behaviour to switch
  config/config.go
Owners: @StephenButtolph

Fix linter error
  config/config_test.go
Owners: @StephenButtolph

Extend siging configuration to include RPC
  config/config.go
  config/config_test.go
  config/flags.go
  config/keys.go
  config/node/config.go
  main/main.go
Owners: @StephenButtolph

Make rpc-signer client handle the connection
  config/config.go
  config/config_test.go
  config/node/config.go
  utils/crypto/bls/signer/rpcsigner/client.go
Owners: @StephenButtolph

Remove special character from error message
  utils/crypto/bls/signer/rpcsigner/client.go
Owners: @StephenButtolph

Set logging to debug when health check fails
  RELEASES.md
  api/health/health.go
  api/health/health_test.go
  api/health/service_test.go
  api/health/worker.go
  config/config.go
  config/flags.go
  config/keys.go
  node/node.go
  tests/e2e/faultinjection/logging_auto_amplification.go
  utils/logging/config.go
  utils/logging/factory.go
  utils/logging/log.go
  utils/logging/log_test.go
Owners: @meaghanfitzgerald, @StephenButtolph, @maru-ava

nit
  vms/avm/state.go
  vms/avm/state/state.go
  vms/avm/state/statemock/state.go
  vms/avm/vm.go
  vms/components/avax/utxo_state.go
Owners: @StephenButtolph

Timely halt Avalanche engine
  chains/manager.go
  snow/engine/avalanche/bootstrap/bootstrapper.go
  snow/engine/avalanche/bootstrap/bootstrapper_test.go
  snow/engine/avalanche/bootstrap/config.go
  snow/engine/snowman/bootstrap/bootstrapper.go
  snow/engine/snowman/bootstrap/bootstrapper_test.go
  snow/engine/snowman/bootstrap/config.go
  vms/platformvm/vm_test.go
Owners: @StephenButtolph

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.github/ @maru-ava
/.github/*.md @maru-ava @meaghanfitzgerald
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @maru-ava
/scripts/*.md @maru-ava @meaghanfitzgerald
/tests/ @maru-ava
/tests/*.md @maru-ava @meaghanfitzgerald
