Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.github/ @maru-ava
/.github/*.md @maru-ava @meaghanfitzgerald
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @maru-ava
/scripts/*.md @maru-ava @meaghanfitzgerald
/tests/ @maru-ava
/tests/*.md @maru-ava @meaghanfitzgerald

[ci] Move monitoring check from github action to code (#3766)
  .github/actions/run-monitored-tmpnet-cmd/action.yml
  tests/fixture/e2e/env.go
  tests/fixture/e2e/flags.go
  tests/fixture/tmpnet/check_monitoring.go
  tests/fixture/tmpnet/network.go
  tests/upgrade/upgrade_test.go
Owners: @maru-ava

[tmpnet] Start kind cluster with golang (#3780)
  bin/tmpnetctl
  scripts/tests.e2e.bootstrap_monitor.sh
  tests/fixture/bootstrapmonitor/common.go
  tests/fixture/bootstrapmonitor/e2e/e2e_test.go
  tests/fixture/tmpnet/README.md
  tests/fixture/tmpnet/cmd/main.go
  tests/fixture/tmpnet/kube.go
  tests/fixture/tmpnet/start_kind_cluster.go
Owners: @StephenButtolph, @maru-ava

Fix flake TestIngressConnCount
  network/network_test.go
Owners: @StephenButtolph

Fix flake TestIngressConnCount (#3799)
  network/network_test.go
Owners: @StephenButtolph

nit
  vms/avm/state.go
  vms/avm/vm.go
Owners: @StephenButtolph

fix(internal/ethapi): fix minBaseFee for fortuna (#873)
  graft/coreth/internal/ethapi/api.coreth.go
  graft/coreth/internal/ethapi/api.coreth_test.go
Owners: @StephenButtolph

fix(internal/ethapi): fix minBaseFee for fortuna (#873)
  internal/ethapi/api.coreth.go
  internal/ethapi/api.coreth_test.go
Owners: @StephenButtolph

[tmpnet] Rename tmpnetctl package from cmd to tmpnetctl
  scripts/build_tmpnetctl.sh
  tests/fixture/tmpnet/README.md
  tests/fixture/tmpnet/tmpnetctl/main.go
Owners: @maru-ava

[tmpnet] Rename tmpnetctl main package from cmd to tmpnetctl (#3787)
  scripts/build_tmpnetctl.sh
  tests/fixture/tmpnet/README.md
  tests/fixture/tmpnet/tmpnetctl/main.go
Owners: @maru-ava

Failing CI
  proto/p2p/p2p.proto
Owners: @StephenButtolph

nit
  proto/p2p/p2p.proto
Owners: @StephenButtolph

Print current status
  .github/workflows/check-clean-branch.sh
Owners: @maru-ava

nit
  .github/workflows/check-clean-branch.sh
Owners: @maru-ava

nit
  proto/p2p/p2p.proto
Owners: @StephenButtolph

workaround outbound peer request limitations for non-validatos
  network/ip_tracker.go
  network/network.go
  network/peer/peer.go
Owners: @StephenButtolph

fix aggregator test flake
  network/p2p/acp118/aggregator_test.go
Owners: @joshua-kim

Improve check-clean CI script (#3800)
  .github/workflows/check-clean-branch.sh
Owners: @maru-ava

Fix ACP-118 Aggregator Test Flake (#3801)
  network/p2p/acp118/aggregator_test.go
Owners: @joshua-kim

[tmpnet] Enable deployment to kube
  .github/workflows/ci.yml
  scripts/build_antithesis_images.sh
  scripts/build_xsvm_image.sh
  scripts/tests.e2e.bootstrap_monitor.sh
  scripts/tests.e2e.kube.sh
  scripts/tests.e2e.sh
  tests/antithesis/compose.go
  tests/antithesis/init_db.go
  tests/e2e/c/dynamic_fees.go
  tests/e2e/e2e_test.go
  tests/e2e/faultinjection/duplicate_node_id.go
  tests/fixture/bootstrapmonitor/e2e/e2e_test.go
  tests/fixture/e2e/env.go
  tests/fixture/e2e/flags.go
  tests/fixture/e2e/helpers.go
  tests/fixture/tmpnet/README.md
  tests/fixture/tmpnet/check_monitoring.go
  tests/fixture/tmpnet/defaults.go
  tests/fixture/tmpnet/flags.go
  tests/fixture/tmpnet/kube.go
  tests/fixture/tmpnet/network.go
  tests/fixture/tmpnet/network_config.go
  tests/fixture/tmpnet/network_test.go
  tests/fixture/tmpnet/node.go
  tests/fixture/tmpnet/node_config.go
  tests/fixture/tmpnet/node_pod.go
  tests/fixture/tmpnet/node_process.go
  tests/fixture/tmpnet/start_kind_cluster.go
  tests/fixture/tmpnet/tmpnetctl/main.go
  tests/fixture/tmpnet/utils.go
  tests/upgrade/upgrade_test.go
  vms/example/xsvm/Dockerfile
Owners: @maru-ava, @StephenButtolph

[tmpnet] Enable monitoring of local kind cluster
  .github/workflows/ci.yml
  scripts/tests.e2e.kube.sh
  tests/fixture/e2e/env.go
  tests/fixture/e2e/flags.go
  tests/fixture/tmpnet/monitor_kube.go
  tests/fixture/tmpnet/start_kind_cluster.go
  tests/fixture/tmpnet/tmpnetctl/main.go
  tests/fixture/tmpnet/yaml/prometheus-agent.yaml
  tests/fixture/tmpnet/yaml/promtail-daemonset.yaml
Owners: @maru-ava

chore: log libevm version during VM init (#871)
  graft/coreth/plugin/evm/vm.go
Owners: @StephenButtolph

chore: log libevm version during VM init (#871)
  plugin/evm/vm.go
Owners: @StephenButtolph

chore(predicate): fix typo in `PreparePredicateStorageSlots` comment (#1491)
  predicate/predicate_slots.go
Owners: @StephenButtolph

add fortuna default as nil (#1498)
  RELEASES.md
  params/network_upgrades.go
  params/network_upgrades_test.go
Owners: @meaghanfitzgerald, @StephenButtolph

refactor(core/types): separate coreth and upstream identifiers (#872)
  core/types/account.go
  core/types/gen_account.go
  core/types/hashes.go
  core/types/hashes_ext.go
  core/types/hashing.go
  core/types/imports.go
  core/types/log.go
  core/types/log_ext.go
  core/types/state_account.go
  core/types/state_account_ext.go
  go.mod
  go.sum
Owners: @StephenButtolph

refactor(core/types): separate coreth and upstream identifiers (#872)
  graft/coreth/core/types/account.go
  graft/coreth/core/types/gen_account.go
  graft/coreth/core/types/hashes.go
  graft/coreth/core/types/hashes_ext.go
  graft/coreth/core/types/hashing.go
  graft/coreth/core/types/imports.go
  graft/coreth/core/types/log.go
  graft/coreth/core/types/log_ext.go
  graft/coreth/core/types/state_account.go
  graft/coreth/core/types/state_account_ext.go
  graft/coreth/go.mod
  graft/coreth/go.sum
Owners: @StephenButtolph

chore: remove unused `libevm` directory (#876)
  graft/coreth/libevm/options/options.go
  graft/coreth/libevm/sync/sync.go
Owners: @StephenButtolph

chore: remove unused `libevm` directory (#876)
  libevm/options/options.go
  libevm/sync/sync.go
Owners: @StephenButtolph

chore: disallow direct `libevm/params` import (#874)
  graft/coreth/core/types/block_test.go
  graft/coreth/scripts/eth-allowed-packages.txt
Owners: @StephenButtolph

chore: disallow direct `libevm/params` import (#874)
  core/types/block_test.go
  scripts/eth-allowed-packages.txt
Owners: @StephenButtolph, @maru-ava

fix: fix missing argument in `build_antithesis_images_for_avalanchego`
  scripts/build_antithesis_images.sh
Owners: @maru-ava

refactor: use `libevm/core/types` directly
  tests/e2e/c/dynamic_fees.go
  tests/e2e/c/interchain_workflow.go
  tests/fixture/e2e/helpers.go
Owners: @maru-ava
