Repository ava-labs/avalanchego, changes with the owners that .github/CODEOWNERS names for each.
All owners: @StephenButtolph, @meaghanfitzgerald, @maru-ava, @joshua-kim, @aaronbuchwald, @DracoLi, @rrazvan1

ci: pin to 20051efe ref
  .github/workflows/ci.yml
Owners: @joshua-kim, @maru-ava

fix: comments
  x/merkledb/db.go
Owners: @joshua-kim, @rrazvan1

chore: remove (again) workflow on prs
  .github/workflows/firewood-load-test.yml
Owners: @joshua-kim, @maru-ava

skip verify block fee if is 0 (#1215)
  plugin/evm/customheader/block_gas_cost.go
  plugin/evm/customheader/block_gas_cost_test.go
Owners: @StephenButtolph

skip verify block fee if is 0 (#1215)
  graft/coreth/plugin/evm/customheader/block_gas_cost.go
  graft/coreth/plugin/evm/customheader/block_gas_cost_test.go
Owners: @StephenButtolph

fix: comments
  x/merkledb/db.go
Owners: @joshua-kim, @rrazvan1

fix naming & separate tests
  x/blockdb/memdb/database.go
  x/blockdb/memdb/database_test.go
Owners: @DracoLi

[tmpnet] Upgrade prometheus agent version to avoid use of bitnami images (#4269)
  Taskfile.yml
  scripts/start_kind_cluster.sh
  tests/fixture/tmpnet/yaml/prometheus-agent.yaml
Owners: @joshua-kim, @maru-ava

Add CubeSigner keychain integration
  go.mod
  go.sum
  utils/crypto/keychain/cubesigner/cubesigner_client.go
  utils/crypto/keychain/cubesigner/cubesigner_keychain.go
  utils/crypto/keychain/cubesigner/cubesigner_keychain_test.go
  utils/crypto/keychain/cubesigner/cubesignermock/cubesigner_client.go
  utils/crypto/keychain/cubesigner/mocks_generate_test.go
  utils/crypto/keychain/keychain.go
  utils/crypto/keychain/ledger/ledger.go
  utils/crypto/keychain/ledger/ledger_keychain.go
  utils/crypto/keychain/ledger/ledger_keychain_test.go
  utils/crypto/keychain/ledger/ledgermock/ledger.go
  utils/crypto/keychain/ledger/mocks_generate_test.go
  utils/crypto/keychain/signing_options.go
  utils/crypto/ledger/ledger.go
  utils/crypto/secp256k1/secp256k1.go
  vms/avm/txs/txstest/builder.go
  vms/platformvm/txs/txstest/wallet.go
  vms/secp256k1fx/keychain.go
  wallet/chain/c/signer.go
  wallet/chain/p/signer/signer.go
  wallet/chain/p/signer/visitor.go
  wallet/chain/p/signer/with_options.go
  wallet/chain/p/wallet/wallet.go
  wallet/chain/x/signer/signer.go
  wallet/chain/x/signer/visitor.go
  wallet/chain/x/wallet.go
  wallet/subnet/primary/common/options.go
  wallet/subnet/primary/wallet.go
Owners: @StephenButtolph

Re-trigger larger sub-ranges
  .github/workflows/c-chain-reexecution-benchmark-container.json
Owners: @aaronbuchwald

ci: add scripts and Taskfile
  Taskfile.yml
  scripts/benchmark_cchain_range.sh
  scripts/build_test.sh
  scripts/copy_dir.sh
  scripts/kind-with-registry.sh
  scripts/protobuf_codegen.sh
  scripts/tests.load.kube.kind.sh
Owners: @joshua-kim, @maru-ava, @aaronbuchwald

Run first 2m from each 10m checkpoint on local SSD machines
  .github/workflows/c-chain-reexecution-benchmark-container.json
Owners: @aaronbuchwald

ci: update ref to eabe3e0d
  .github/workflows/ci.yml
Owners: @joshua-kim, @maru-ava

ci: update flake
  flake.lock
  flake.nix
Owners: @joshua-kim, @maru-ava

ci: update ref
  .github/workflows/ci.yml
Owners: @joshua-kim, @maru-ava

Update copyright headers to 2019-2025
  utils/crypto/keychain/cubesigner/cubesigner_client.go
  utils/crypto/keychain/cubesigner/cubesigner_keychain.go
  utils/crypto/keychain/cubesigner/cubesigner_keychain_test.go
  utils/crypto/keychain/cubesigner/mocks_generate_test.go
  utils/crypto/keychain/keychain.go
  utils/crypto/keychain/ledger/ledger.go
  utils/crypto/keychain/ledger/ledger_keychain.go
  utils/crypto/keychain/ledger/ledger_keychain_test.go
  utils/crypto/keychain/ledger/mocks_generate_test.go
  utils/crypto/keychain/signing_options.go
  utils/crypto/ledger/ledger.go
  utils/crypto/secp256k1/secp256k1.go
  vms/avm/txs/txstest/builder.go
  vms/platformvm/txs/txstest/wallet.go
  vms/secp256k1fx/keychain.go
  wallet/chain/c/signer.go
  wallet/chain/p/signer/signer.go
  wallet/chain/p/signer/visitor.go
  wallet/chain/p/signer/with_options.go
  wallet/chain/p/wallet/wallet.go
  wallet/chain/x/signer/signer.go
  wallet/chain/x/signer/visitor.go
  wallet/subnet/primary/common/options.go
  wallet/subnet/primary/wallet.go
Owners: @StephenButtolph

sync: coreth PR #1145: remove EIP-4844 package in favor of libevm version (#1709)
  cmd/evm/internal/t8ntool/execution.go
  consensus/dummy/consensus.go
  consensus/misc/eip4844/eip4844.go
  consensus/misc/eip4844/eip4844_test.go
  core/blockchain.go
  core/chain_makers.go
  core/evm.go
  core/state_processor_test.go
  core/txpool/blobpool/blobpool.go
  core/txpool/blobpool/blobpool_test.go
  internal/ethapi/transaction_args.go
  miner/worker.go
  tests/state_test_util.go
Owners: @StephenButtolph, @joshua-kim, @maru-ava

sync: coreth PR #1151: update firewood and fix test flakes (#1714)
  core/extstate/database_test.go
  plugin/evm/vm_test.go
  triedb/firewood/database.go
Owners: @StephenButtolph

Apply suggestions from code review
  plugin/evm/atomic/state/atomic_trie.go
  plugin/evm/atomic/vm/vm_test.go
  plugin/evm/vm.go
  plugin/evm/vmtest/genesis.go
  sync/statesync/trie_sync_tasks.go
Owners: @StephenButtolph

ci: reset tmpnet
  tests/fixture/tmpnet/flags/kube_runtime.go
  tests/fixture/tmpnet/flags/start_network.go
  tests/fixture/tmpnet/kube_runtime.go
  tests/fixture/tmpnet/monitor_kube.go
  tests/fixture/tmpnet/monitor_processes.go
  tests/fixture/tmpnet/network.go
  tests/fixture/tmpnet/network_test.go
  tests/fixture/tmpnet/node.go
  tests/fixture/tmpnet/process_runtime.go
  tests/fixture/tmpnet/start_kind_cluster.go
  tests/fixture/tmpnet/subnet.go
  tests/fixture/tmpnet/tmpnetctl/main.go
  tests/fixture/tmpnet/utils.go
Owners: @joshua-kim, @maru-ava

ci: update ref to 0c94b286
  .github/workflows/ci.yml
Owners: @joshua-kim, @maru-ava

lint
  utils/crypto/keychain/cubesigner/cubesigner_client.go
  utils/crypto/keychain/cubesigner/cubesigner_keychain.go
  utils/crypto/keychain/cubesigner/cubesigner_keychain_test.go
  utils/crypto/keychain/keychain.go
  utils/crypto/keychain/ledger/ledger_keychain.go
  utils/crypto/keychain/signing_options.go
  utils/crypto/ledger/ledger.go
  utils/crypto/secp256k1/secp256k1.go
  vms/secp256k1fx/keychain.go
  wallet/chain/p/signer/visitor.go
  wallet/chain/p/signer/with_options.go
  wallet/subnet/primary/common/options.go
Owners: @StephenButtolph

Review suggestions
  plugin/evm/atomic/vm/block_extension.go
  plugin/evm/vmtest/test_syncervm.go
Owners: @StephenButtolph

ci: add require funcs for vm reexecute
  tests/fixture/stacktrace/stacktrace.go
  tests/fixture/tmpnet/monitor_processes.go
  tests/fixture/tmpnet/network.go
Owners: @joshua-kim, @maru-ava

ci: update ref to 92d0e99b
  .github/workflows/ci.yml
Owners: @joshua-kim, @maru-ava

license lint
  utils/crypto/keychain/cubesigner/cubesigner_keychain.go
Owners: @StephenButtolph

fix: Correct typo in README.md (#1276)
  README.md
Owners: @meaghanfitzgerald, @StephenButtolph

lint
  plugin/evm/atomic/vm/block_extension.go
  plugin/evm/atomic/vm/vm_test.go
  plugin/evm/vm_test.go
Owners: @StephenButtolph

Have `checkPredicates` account for maximum available gas capacity (#1217)
  consensus/dummy/consensus.go
  plugin/evm/vm_test.go
  plugin/evm/wrapped_block.go
Owners: @StephenButtolph

Have `checkPredicates` account for maximum available gas capacity (#1217)
  graft/coreth/consensus/dummy/consensus.go
  graft/coreth/plugin/evm/vm_test.go
  graft/coreth/plugin/evm/wrapped_block.go
Owners: @StephenButtolph

fix: free memory used by proposals in firewood (#1173)
  triedb/firewood/database.go
Owners: @StephenButtolph

fix: free memory used by proposals in firewood (#1173)
  graft/coreth/triedb/firewood/database.go
Owners: @StephenButtolph

back to force add
  plugin/evm/atomic/vm/vm_test.go
Owners: @StephenButtolph

feat!: rename `Hashable::key` (#1270)
  firewood/src/merkle.rs
  firewood/src/proof.rs
  storage/src/hashednode.rs
  storage/src/hashers/ethhash.rs
  storage/src/hashers/merkledb.rs
Owners: @StephenButtolph

test(firewood): use ctor section to init logger for all tests (#1277)
  firewood/Cargo.toml
  firewood/src/db.rs
  firewood/src/lib.rs
  firewood/src/merkle/tests/ethhash.rs
  firewood/src/merkle/tests/mod.rs
Owners: @StephenButtolph

Update config.md
  vms/avm/config.md
Owners: @meaghanfitzgerald, @StephenButtolph

xsvm marshalling + set preference bugs
  simplex/block.go
  simplex/block_test.go
  simplex/engine.go
  simplex/util_test.go
  tests/e2e/s/chain.go
  tests/e2e/s/utils.go
  vms/example/xsvm/api/client.go
  vms/example/xsvm/api/server.go
Owners: @StephenButtolph, @joshua-kim, @maru-ava

fix marshal interface bug
  vms/example/xsvm/api/client.go
  vms/example/xsvm/api/server.go
Owners: @StephenButtolph

Add public network support to tmpnet
  tests/fixture/tmpnet/network_config.go
  tests/fixture/tmpnet/node.go
Owners: @joshua-kim, @maru-ava

Josh changes p4
  snow/uptime/manager.go
  vms/evm/uptimetracker/codec.go
  vms/evm/uptimetracker/manager_test.go
  vms/evm/uptimetracker/pausable_manager.go
  vms/evm/uptimetracker/pausable_manager_test.go
  vms/evm/uptimetracker/state.go
  vms/evm/uptimetracker/state_test.go
  vms/evm/uptimetracker/validator.go
  vms/evm/uptimetracker/validator_test.go
Owners: @StephenButtolph

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @StephenButtolph
*.md @meaghanfitzgerald @StephenButtolph
/.dockerignore @maru-ava
/.envrc @joshua-kim @maru-ava
/.github/ @joshua-kim @maru-ava
/.github/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/.github/CODEOWNERS @StephenButtolph
/.github/actions/c-chain-reexecution-benchmark/ @aaronbuchwald
/.github/workflows/c-chain-reexecution-benchmark* @aaronbuchwald
/.gitignore @joshua-kim @maru-ava @StephenButtolph
/.golangci.yml @joshua-kim @maru-ava @StephenButtolph
/Dockerfile @joshua-kim @maru-ava
/Taskfile.yml @joshua-kim @maru-ava
/flake.lock @joshua-kim @maru-ava
/flake.nix @joshua-kim @maru-ava
/network/p2p/ @joshua-kim
/network/p2p/*.md @joshua-kim @meaghanfitzgerald
/scripts/ @joshua-kim @maru-ava
/scripts/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/scripts/benchmark_cchain_range.sh @aaronbuchwald
/tests/ @joshua-kim @maru-ava
/tests/*.md @joshua-kim @maru-ava @meaghanfitzgerald
/tests/reexecute/ @aaronbuchwald
/x/blockdb @DracoLi
/x/merkledb @joshua-kim @rrazvan1
/x/sync @joshua-kim @rrazvan1
